.banner_div {
    text-align : center;
    color : white;
    background-color : #3333ff;
    margin : -20px 0px 10px 0px ;
    padding : 20px 15px;
}

.page_bottom {
    padding-bottom : 50px;
}

.add_margin {
    margin-bottom : 5px;
}

.about {
    padding-top : 90px;
}

.about .fa-medium{
    font-size : 5em;
}
.about .fa-small{
    font-size : 2em;
    padding-top : 10px;
}

.about div{
    text-align : center;
}

.fa-bolt {
    color : yellow;
}

.fa-heart {
    color : red;
}

.fa-magic {
    color : green;
}